#ver1 {
    background-color: rgb(220, 200, 180);
}
#ver2 {
    background-color: rgb(220, 180, 160);
}
#ver3 {
    background-color: rgb(220, 160, 140);
}
#ver4 {
    background-color: rgb(220, 140, 120);
}
#ver5 {
    background-color: rgb(220, 120, 100);
}
#ver6 {
    background-color: rgb(220, 100, 80);
}
#ver7 {
    background-color: rgb(200, 100, 80);
}
